<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{common/comp-header}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Đăng ký</title>
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <link th:href = "@{/css/login/login-register.css}" rel = "stylesheet">
</head>
<body>
<article layout:fragment ="content">
    <div class="register-background">
        <div class="register-container">
            <form action="/confirm-phone" method="post">
                <div class="register__header"> <h2>Đăng ký tài khoản</h2></div>
                <div class="register__input-box">
                    <label><input type="text"  placeholder="Nhập số điện thoại" required></label>
                    <button type="submit">Nhận mã</button></div>
                <div class="register-confirm-phone__message">
                    <label>Message</label></div>
            </form>
            <form action="/confirm-phone-verification" method="post">
                <div class="register-confirm-phone__input-box">
                    <label>Nhập mã xác nhận qua SMS:</label>
                    <label><input type="text" name= "code" placeholder="Vui lòng nhập code" required></label>
                </div>
                <div class="register-confirm-phone__message">
                    <label>Message</label></div>
                <div class="register__action">
                    <button type="submit">Xác thực</button></div>
            </form>
        </div>
    </div>
</article>
</body>
</html>