<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.com"
      xmlns:layout ="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{common/comp-header}">
<head>
    <meta charset="UTF-8">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <link th:href = "@{/css/manage.css}" rel = "stylesheet">
    <script th:src="@{/js/manage.js}"></script>

    <title>Thêm sản phẩm mới</title>
</head>
<body>
<article layout:fragment ="content">
    <div class="manage__background">
        <div class="manage__menu">
            <div class="manage__menu-title">
                <h2>Danh mục</h2>
            </div>
            <div class="manage__menu-list">
                <ul>
                    <li> <a href="/manage/product"> Sản phẩm </a> </li>
                    <li> <a href="/manage/bill"> Hóa đơn </a> </li>
                    <li> <a href="/manage/account"> Tài khoản </a> </li>
                </ul>
            </div>
        </div>
        <div class="manage__container">
            <div class="manage__header">
                <div class="manage__header-name">
                    <h2>Thêm sản phẩm mới</h2></div>
            </div>
            <form class="manage__form" action="/manage/add-product" method="post">
                <div class="manage__form-left">
                    <div class="manage__image-background">
                        <img id="blah" th:src="'data:image/png;charset=utf-8;base64,' + ${base64ImageUpload}" alt="Thêm ảnh"  style="display:block;"></div>
                    <div class="manage__image-import">
                        <input type="file" placeholder="Thêm ảnh" onchange="readURL(this);" required> </div>
                </div>
                <div class="manage__form-right">
                    <div class="manage__label-id-product">
                        <label>ID: "ID sản phẩm"</label></div>
                    <div class="manage__input_box">
                        <label>Tên sản phẩm:</label>
                        <label>
                            <input type = "text" placeholder="VD: Dâu tây Đà Lạt" required>
                        </label></div>
                    <div class="manage__input_box">
                        <label>Nhà cung cấp:</label>
                        <label>
                            <input type = "text" placeholder="VD: Công ty phân phối trái cây Đà Lạt ABC" required>
                        </label></div>
                    <div class="manage__input_box">
                        <label>Phân loại:</label>
                        <label>
                            <input type = "text" placeholder="VD: Trái cây tươi" required>
                        </label></div>
                    <div class="manage__input_box">
                        <label>Đơn vị:</label>
                        <label>
                            <input type = "text" placeholder="VD: Kg" required>
                        </label></div>
                    <div class="manage__input_box">
                        <label>Số lượng:</label>
                        <label>
                            <input type = "number" placeholder="VD: 10" required>
                        </label></div>
                    <div class="manage__input_box">
                        <label>Giá:</label>
                        <label>
                            <input type = "text" placeholder="VD: 100.000" required>
                        </label></div>
                    <div class="manage__button">
                        <button>Thêm sản phẩm</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</article>
</body>
</html>