<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.com" xmlns:layout ="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{common/comp-header}">
<head>
    <meta charset="UTF-8">
    <title>Đăng ký</title>
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <link th:href = "@{/css/login-register.css}" rel = "stylesheet">
</head>
<body>
<article layout:fragment ="content">
    <div class="register-background">
        <div class="register-container">
            <div class="register__header"> <h2>Đăng ký tài khoản</h2></div>
            <div class="register__input-box">
                <label>Họ và tên:</label>
                <input type="text" >
            </div>
            <div class="register__input-box">
                <label>Số điện thoại:</label>
                <input type="text" >
            </div>
            <div class="register__input-box">
                <label>Email:</label>
                <input type="text" >
            </div>
            <div class="register__input-box">
                <label>Mật khẩu:</label>
                <input type="password" >
            </div>
            <div class="register__input-box">
                <label>Nhập lại mật khẩu:</label>
                <input type="password" >
            </div>
            <div class="register__input-box">
                <label>Địa chỉ:</label>
                <input type="text" >
            </div>
            <div class="register__action">
                <button type="submit">Đăng ký</button></div>

        </div>
    </div>
</article>

</body>
</html>