<!DOCTYPE html>
<html lang="vn" xmlns:th="http://www.thymeleaf.com" xmlns:layout ="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{common/comp-header}">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link th:href = "@{/css/search-page.css}" rel = "stylesheet">
</head>
<body>
<article layout:fragment ="content">
    <div class="container">
        <div class="filter">
            <div class="tieu-de">Bộ lọc tìm kiếm</div>
            <div class="brand">
                <div class="tieu-de">Brand</div>
                <form id="filter-form" action="/search" method="get">
                    <th:block th:each="brand : ${brands}">
                        <label>
                            <input type="checkbox" name="brandIds" th:value="${brand.id}" />
                            <span th:text="${brand.name}"></span>
                        </label>
                    </th:block>
                </form>
            </div>
            <div class="gia-tien">
                <div class="tieu-de">Khoảng giá</div>
                <form action="/search" method="get">
                    <div class="input-gia">
                        <div>
                            <input type="number" id="min-price" name="minPrice" placeholder="Từ" min="0">
                        </div>
                        <div>-</div>
                        <div>
                            <input type="number" id="max-price" name="maxPrice" placeholder="Đến" min="0">
                        </div>
                    </div>
                    <div class="ap-dung">
                        <button type="submit">Áp dụng</button>
                    </div>
                </form>
            </div>
        </div>
        <div class="main-search">
            <div class="search-results">Những loại trái cây phù hợp với bạn</div>
            <div class="sap-xep">
                <div>Sắp xếp theo</div>
                <div>
                    <button class="sort-button" data-sort="default">Liên quan</button>
                </div>
                <div>
                    <button class="sort-button" data-sort="newest">Mới nhất</button>
                </div>
                <div>
                    <button class="sort-button" data-sort="bestselling">Bán chạy</button>
                </div>
                <div>
                    <form action="#" method="get">
                        <div class="sort">
                            <label for="price-sort">Giá:</label>
                            <select id="price-sort" name="sort" onchange="this.form.submit()">
                                <option value="">Chọn phương thức sắp xếp</option>
                                <option value="price-up">Từ thấp đến cao</option>
                                <option value="price-down">Từ cao đến thấp</option>
                            </select>
                        </div>
                    </form>
                </div>
            </div>
            <div class="listProduct">
                <th:block th:if="${products.isEmpty()}">
                    <p>Không có sản phẩm nào phù hợp với tìm kiếm của bạn.</p>
                </th:block>
                <th:block th:unless="${products.isEmpty()}">
                    <ul class="products">
                        <th:block th:each="product : ${products}">
                            <li>
                                <div class="product">
                                    <a th:href="@{/detail(id=${product.id})}">
                                        <img th:src="'https://firebasestorage.googleapis.com/v0/b/retailstorage-5432c.appspot.com/o/'+${product.id.replace(' ', '')}+'.png?alt=media'" th:alt="${product.id}" alt="Image" />
                                    </a>
                                    <br />
                                    <a th:href="@{/detail(id=${product.id})}" th:text="${product.name}" class="product-name">Product name</a>
                                    <br />
                                    <span th:text="${#numbers.formatInteger(product.price, 0) + ' VND'}" class="product-price">200.000 VND</span>
                                </div>
                            </li>
                        </th:block>
                    </ul>
                </th:block>
            </div>
        </div>
    </div>
</article>
<script>
    // Xử lý không nhập chữ
    document.getElementById('min-price').addEventListener('keydown', function (e) {
        if (!isAllowedKey(e)) {
            e.preventDefault();
        }
    });

    document.getElementById('max-price').addEventListener('keydown', function (e) {
        if (!isAllowedKey(e)) {
            e.preventDefault();
        }
    });
    document.getElementById('min-price').addEventListener('input', function (e) {
        const value = e.target.value;
        e.target.value = value.replace(/[^0-9]/g, '');
    })

    document.getElementById('max-price').addEventListener('input', function (e) {
        const value = e.target.value;
        e.target.value = value.replace(/[^0-9]/g, '');
    });
</script>
</body>
</html>