.personal-history__background{
    background-color: #eff3f4;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    width:100%;
    height: calc(100vh - var(--header-height));
}

.personal-history__container{
    background-color: white;
    height: 90%;
    width: 90%;
    border: 1px solid #e1e9ea;
    border-radius: 10px;
    box-shadow: 5px 5px 15px 1px #a4b9d54d;
    font-family: system-ui;
}

.personal-history__header{
    color:#556370;
    display:flex;
    justify-content: space-between;
    align-items: flex-end;
    margin-top: 20px;
    margin-bottom:20px;
    margin-left: 13px;
}

.personal-history__header-fill{
    background-color:#fffdef;
    height:25px;
    border-radius: 5px;
    margin-right:20px;
}
.personal-history__table table{
    border-collapse: collapse;
    width: 98%;
 /*   border: 2px solid #d6dcdf;*/
/*    border-radius: 5px;*/
    table-layout: fixed;
    margin-left:1%;
    margin-right:1%;
}
.personal-history__table tr{
    line-height: 28px;
    text-align:center;
    white-space: nowrap; /*Không cho xuống dòng*/
}
.personal-history__table th{
    text-overflow: ellipsis; /*dấu 3 chấm nếu chữ dài*/
    overflow: hidden; /*ẩn chữ dư trong ô*/
}
.personal-history__table td{
    text-overflow: ellipsis;
    overflow: hidden;
}
.personal-history__table tr:hover:not(:first-child){
    cursor: pointer;
    background-color:  rgb(0, 96, 142);
    color:rgb(255, 255, 255);
}